<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{% block title %}FOUETSAGE{% endblock %}</title>
  
  {# FontAnswone pour les icônes #}
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

  {# GoogleFonts pour la police Baskerville #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
  <link href="https://allfont.net/allfont.css?fonts=agency-fb" rel="stylesheet" type="text/css" />

  {# Framework Bootstrap #}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  {# Mettre du CSS dans le projet avec les liens ci dessous #}
  {% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/style.css') }}">
  {% endblock %}

</head>

<body>

  <div class="wrapper">

    <div class="head">

      <div class="name">
        <img class="daniel" src="{{ asset('img/danielAaron.jpg') }}" alt="Prénom et Nom">
      </div>
      
      <div class="haut">
        <img class="pcs" src="{{ asset('img/daniel1.jpg') }}" alt="Daniel Aaron">
        <img class="illustrationB" src="{{ asset('img/logo.jpg') }}" alt="logo de etrefouetsage">
      </div>

      <div class="icones">
        <div class="socialA">
          <a href="https://www.facebook.com/daniel.aaron.906638/"><img class="fb"
              src="{{ asset('img/square-facebook.svg') }}" alt="Lien vers le profil de Daniel" title="Facebook"></a>
          <a href="https://www.instagram.com/_daniel_aaron_/"><img class="in" src="{{ asset('img/instagram.svg') }}"
              alt="Lien vers le compte Instagram" title="Instagram"></a>
          <a href="https://www.linkedin.com/in/daniel-aaron"><img class="lk" src="{{ asset('img/linkedin.svg') }}"
              alt="Lien vers le compte LinkedIn" title="LinkedIn"></a>
          <a href="https://www.tiktok.com/@daniel.aaron67"><img class="tk" src="{{ asset('img/tiktok.svg') }}"
              alt="Lien vers le compte Tiktok" title="TikTok"></a>
        </div>
        <div class="social">
          <a href="https://www.youtube.com/@danielaaron125"><img class="yt" src="{{ asset('img/youtube.svg') }}" alt="Lien vers le compte Youtube" title="Youtube"></a>
          <a href="https://twitter.com/Danielaaron67"><img class="tw" src="{{ asset('img/twitter.svg') }}" alt="Lien vers le compte Twitter" title="Twitter"></a>
          <a href="https://open.spotify.com/user/31b6ue6zwhrygobz7olaor7dm54u"><img class="sp" src="{{ asset('img/spotify.svg') }}" alt="Lien vers le compte Spotify" title="Spotify"></a>
          <a href="https://stripe.com/fr"><img class="pp" src="{{ asset('img/cc-stripe.svg') }}" alt="Lien vers Stripe" title="Stripe"></a>
        </div>
      </div>

      <a href="https://linktr.ee/SageEtFou"><img src="{{ asset('img/qrCode.png') }}" title="Linktree" alt="QR Code de Daniel Aaron" class="qR"></a>
    
    </div>
    
    {% if app.user %}
      <div class="mb-3">Bienvenue {{ app.user.Pseudo }} !</div> 
    {% endif %}

    <header>

      <nav>

        {% if app.user %}
        
          <div class="menu">
            <a href="{{ path ('app_home') }}"><img class="lk" src="{{ asset('img/house-solid.svg') }}" alt="Retour à la page d'accueil" title="Retour à l'accueil"></a>

            <a href="#team">L'AUTEUR</a>
            <a href="#prix">SES LIVRES</a>
            <a href="https://open.spotify.com/user/31b6ue6zwhrygobz7olaor7dm54u">iii RADIO</a>
            <a href="{{ path ('app_etik') }}">ETIK BUSINESS CLUB</a>
            <a href="{{ path ('app_ventes') }}">VENTES AUX ENCHERES</a>
            <a href="{{ path ('app_user') }}">MON ESPACE</a>
            <a href="{{ path ('app_logout') }}">DECONNEXION</a>
          </div>

          <div class="icones">
            <div class="socialB">
              <a href="https://www.facebook.com/daniel.aaron.906638/"><img class="fb" src="{{ asset('img/square-facebook.svg') }}" alt="Lien vers le profil de Daniel" title="Facebook"></a>
              <a href="https://www.instagram.com/_daniel_aaron_/"><img class="in" src="{{ asset('img/instagram.svg') }}" alt="Lien vers le compte Instagram" title="Instagram"></a>
              <a href="https://www.linkedin.com/in/daniel-aaron"><img class="lk" src="{{ asset('img/linkedin.svg') }}" alt="Lien vers le compte LinkedIn" title="LinkedIn"></a>
              <a href="https://www.tiktok.com/@daniel.aaron67"><img class="tk" src="{{ asset('img/tiktok.svg') }}" alt="Lien vers le compte Tiktok" title="TikTok"></a>
            </div>
            <div class="socialC">
              <a href="https://www.youtube.com/@danielaaron125"><img class="yt" src="{{ asset('img/youtube.svg') }}" alt="Lien vers le compte Youtube" title="Youtube"></a>
              <a href="https://twitter.com/Danielaaron67"><img class="tw" src="{{ asset('img/twitter.svg') }}" alt="Lien vers le compte Twitter" title="Twitter"></a>
              <a href="https://open.spotify.com/user/31b6ue6zwhrygobz7olaor7dm54u"><img class="sp" src="{{ asset('img/spotify.svg') }}" alt="Lien vers le compte Spotify" title="Spotify"></a>
              <a href="https://stripe.com/fr"><img class="pp" src="{{ asset('img/cc-stripe.svg') }}" alt="Lien vers Stripe" title="Stripe"></a>
            </div>
          </div>

          <div class="burger">
            <a href="{{path ('app_menu')}}"><img src="{{ asset('img/burger.png') }}" class="meal" alt="menu burger" title="Menu"></a>
          </div>
          {% else %}

            <div class="menu">
              <a href="{{ path ('app_home') }}"><img class="lk" src="{{ asset('img/house-solid.svg') }}" alt="Retour à la page d'accueil" title="Retour à l'accueil"></a>
              <a href="#team">L'AUTEUR</a>
              <a href="#prix">SES LIVRES</a>
              <a href="https://open.spotify.com/user/31b6ue6zwhrygobz7olaor7dm54u">iii RADIO</a>
              <a href="{{ path ('app_etik') }}">ETIK BUSINESS CLUB</a>
              <a href="{{ path ('app_ventes') }}">VENTES AUX ENCHERES</a>
              <a href="{{ path ('app_register') }}">INSCRIPTION</a>
              <a href="{{ path ('app_login') }}">CONNEXION</a>
            </div>

            <div class="icones">
              <div class="socialB">
                <a href="https://www.facebook.com/daniel.aaron.906638/"><img class="fb" src="{{ asset('img/square-facebook.svg') }}" alt="Lien vers le profil de Daniel" title="Facebook"></a>
                <a href="https://www.instagram.com/_daniel_aaron_/"><img class="in" src="{{ asset('img/instagram.svg') }}" alt="Lien vers le compte Instagram" title="Instagram"></a>
                <a href="https://www.linkedin.com/in/daniel-aaron"><img class="lk" src="{{ asset('img/linkedin.svg') }}" alt="Lien vers le compte LinkedIn" title="LinkedIn"></a>
                <a href="https://www.tiktok.com/@daniel.aaron67"><img class="tk" src="{{ asset('img/tiktok.svg') }}" alt="Lien vers le compte Tiktok" title="TikTok"></a>
              </div>
              <div class="socialC">
                <a href="https://www.youtube.com/@danielaaron125"><img class="yt" src="{{ asset('img/youtube.svg') }}" alt="Lien vers le compte Youtube" title="Youtube"></a>
                <a href="https://twitter.com/Danielaaron67"><img class="tw" src="{{ asset('img/twitter.svg') }}" alt="Lien vers le compte Twitter" title="Twitter"></a>
                <a href="https://open.spotify.com/user/31b6ue6zwhrygobz7olaor7dm54u"><img class="sp" src="{{ asset('img/spotify.svg') }}" alt="Lien vers le compte Spotify" title="Spotify"></a>
                <a href="https://stripe.com/fr"><img class="pp" src="{{ asset('img/cc-stripe.svg') }}" alt="Lien vers Stripe" title="Stripe"></a>
              </div>
            </div>

            <div class="burger">
              <a href="{{path ('app_menu')}}"><img src="{{ asset('img/burger.png') }}" class="meal" alt="menu burger" title="Menu"></a>
            </div>
        {% endif %}

      </nav>

    </header>

  </div>

  <main>

    <section class="accueil">
      <figure>
        <img class="illustrationC" src="{{ asset('img/collection1.jpg') }}" alt="livres et machine à écrire">
      </figure>
    </section>

    {% block body %}
    {# Mettre en place tout ce qui va changer d'une vue à l'autre #}
    {% endblock %}

  </main>

  <footer>

    <div id="info">

      <div class="pied">

        <figure>
          <a href="https://linktr.ee/SageEtFou"><img src="{{ asset('img/qrCode.png') }}"
              alt="QR Code de Daniel Aaron" class="logQR"></a>
        </figure>

        <div class="reseaux">
          <a href="https://www.facebook.com/daniel.aaron.906638/"><img class="icoFb" src="{{ asset('img/square-facebook.svg') }}" alt="Lien vers le compte Facebook" title="Facebook"></a>
          <a href="https://www.instagram.com/_daniel_aaron_/"><img class="icoIn" src="{{ asset('img/instagram.svg') }}" alt="Lien vers le compte Instagram" title="Instagram"></a>
          <a href="https://www.linkedin.com/in/daniel-aaron"><img class="icoLkd" src="{{ asset('img/linkedin.svg') }}" alt="Lien vers le compte LinkedIn" title="LinkedIn"></a>
          <a href="https://www.tiktok.com/@daniel.aaron67"><img class="icoTk" src="{{ asset('img/tiktok.svg') }}" alt="Lien vers le compte Tiktok" title="TikTok"></a>
          <a href="https://www.youtube.com/@danielaaron125"><img class="icoYt" src="{{ asset('img/youtube.svg') }}" alt="Lien vers le compte Youtube" title="Youtube"></a>
          <a href="https://twitter.com/Danielaaron67"><img class="icoTw" src="{{ asset('img/twitter.svg') }}" alt="Lien vers le compte Twitter" title="Twitter"></a>
          <a href="https://open.spotify.com/user/31b6ue6zwhrygobz7olaor7dm54u"><img class="icoSp" src="{{ asset('img/spotify.svg') }}" alt="Lien vers le compte Spotify" title="Spotify"></a>
          <a href="https://stripe.com/fr"><img class="icoPp" src="{{ asset('img/cc-stripe.svg') }}" alt="Lien vers Stripe" title="Stripe"></a>
        </div>

      </div>

      <div class="acces">
        <a href="{{ path ('app_mentions_legales') }}">Mentions Légales</a>
        <a href="{{ path ('app_conditons_generales_vente') }}">CGV</a>
        <p class="text3">2023 © Fou et Sage - Template by Benjamin LOUIS</p>
      </div>

      <a href="#"><img class="boutonScroll" alt="bouton scroll" src="{{ asset('img/UP.jpg') }}"></a>

    </div>

  </footer>

  {% block javascripts %}

    {# Framework Bootstrap #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
      {# Mettre du JavaScript dans le projet avec le lien ci dessous #}
    <script src="{{ asset('js/script.js') }}"></script>

  {% endblock %}

</body>

</html>