{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block body %}
    <!DOCTYPE html>
    <html lang="fr">

        <head>
            <meta charset="utf-8">

            <link rel="stylesheet" href="{{ asset('css/file.css') }}">
            
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">


            <title>LIVRES</title>
        </head>

        <body>
            <div class="wrapper">
                <header>
                    <!-- Cette page concerne les livres-->
                    <h3>LIVRES</h3>

                    {% if is_granted('ROLE_ADMIN') %}
                        {# Seul l'admin peut ajouter un nouveau livre #}
                        <a href="">AJOUTER</a>
                    {% endif %}

                    <section class="price">
                        <div class="blocPrice">
                            <div class="pack">   

                                <div class="front">
                                    {% for livre in livres %}
                                        {# Accéder au détail du livre en passant la souris sur le titre d'un livre (effet carte retournée) #}
                                        
                                        <figure>
                                            <img src="{{ asset('img/livre1.jpg') }}" alt="Couverture Tome 1 Livre Révolutions Femmes" class="log">
                                        </figure>
                                        <div class="acheter1">ACHETEZ-MOI</div>

                                        {# <figure>
                                            {# Pour afficher les couvertures de chaque livres #}{#
                                            <img src="{{ asset('img/') }}" alt="Couverture Tome 1 Livre Révolutions Femmes" class="log">
                                        </figure>
                                        <div class="acheter1">ACHETEZ-MOI</div> #}

                                    {% endfor %}
                                </div>
                
                                <div class="back">
                                    {% for livre in livres %}

                                        <figure>
                                            <img src="{{ asset('img/tome1.jpg') }}" alt="Une image contenant graphisme, capture d’écran, affiche, Graphique"
                                                class="log">
                                        </figure>

                                        {# <figure> //PB AFFICHER LES IMAGES DE LA BDD
                                            <img src="{{ asset('img/') }}" alt="Une image contenant graphisme, capture d’écran, affiche, Graphique"
                                                class="log">
                                        </figure> #}

                                        {# Utiliser le filtre | date("d-m-Y")  pour formater la date #}
                                        {# {{ livre.date_publication | date("d-m-Y") }}<br> #}

                                        {#<h3>PRIX: 16 € ttc</h3>
                                        <h6>(Dont 4 € de frais de port)</h6>#}

                                        <p>{{ livre.resume }}</p> 

                                        {# <a href="">
                                            <input type="submit" value="Ajouter au panier" class="boutonJoin">
                                        </a>  #}

                                        <div class="liste">
                                            {# Seul l'admin peut modifier et/ou supprimer un livre #}
                                             <div class="option">
                                                <a class="crud" href="">MODIFIER</a>
                                                <a class="crud" href="">SUPPRIMER</a>
                                            </div>  
                                        </div>

                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </section> 

                    <nav id="men">
                        <div id="menu">
                            <a href="{{ path ('app_user') }}"><img class="lk" src="{{ asset('img/house-solid.svg') }}" alt="Retour à l'espace personnel" title="Retourner à mon espace"></a>                        </div>
                        </div>
                    </nav>

                </header>
            </div>
            <!-- <script>src = "script.js"</script> -->
        </body>

    </html>
{% endblock %}
