{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block body %}
    <!DOCTYPE html>
    <html lang="fr">

        <head>
            <meta charset="utf-8">

            <link rel="stylesheet" href="{{ asset('css/file.css') }}">
            
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">


            <title>LIVRES</title>
        </head>

        <body>
            <div class="wrapper">
                <header>
                    <!-- Cette page concerne les livres-->
                    <h3>LIVRES</h3>

                    {% if is_granted('ROLE_ADMIN') %}
                    {# Seul l'admin peut ajouter un nouveau livre #}
                    <a href="">AJOUTER</a>
                    {% endif %}

                    {# BDD L'élément de la collection #}
                    {# Créer une boucle for #}
                    {# {% for livre in livres %} #}
                    
                    <section class="price">
                        <div class="blocPrice">
                            <div class="pack">
                                <div class="front">
                                    {# <figure>
                                        <img src="{{ asset('img/livre1.jpg') }}" alt="livre Révolutions Femme" class="log">
                                    </figure>
                                    <div class="acheter1">ACHETEZ-MOI</div> #}
                                </div>
                                <div class="back">
                                    {# <figure>
                                        <img src="{{ asset('img/tome1.jpg') }}" alt="Une image contenant graphisme, capture d’écran, affiche, Graphique"
                                            class="log">
                                    </figure>
                                    <h2>DISPONIBLE</h2>
                                    <h3>PRIX: 16 € ttc</h3>
                                    <h6>(Dont 4 € de frais de port)</h6>
                                    <p>
                                        Pamphlet, véritable cri d'amour, ce livre aborde la question cruciale de l'autonomie des femmes à travers cet amour,
                                        au niveau intime et collectif.
                                        Et toujours apporter un espoir…
                                      </p> #}
                                    {# <a href="">
                                        <input type="submit" value="Ajouter au panier" class="boutonJoin">
                                    </a> #}

                                    {# Seul l'admin peut modifier ou supprimer un livre #}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a class="btn" href="">MODIFIER</a>
                                        <a class="btn" href="">SUPPRIMER</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </section> 

                    <nav id="men">
                        <div id="menu">
                            <a href="{{ path ('app_user') }}"><img class="lk" src="{{ asset('img/house-solid.svg') }}" alt="Retour à l'espace personnel" title="Retourner à mon espace"></a>                        </div>
                        </div>
                    </nav>

                </header>
            </div>
            <!-- <script>src = "script.js"</script> -->
        </body>

    </html>
{% endblock %}
