{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block body %}
    <!DOCTYPE html>
    <html lang="fr">

        <head>
            <meta charset="utf-8">

            <link rel="stylesheet" href="{{ asset('css/file.css') }}">
            
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">

            {# Framework Bootstrap #}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        


            <title>AJOUTER UN LIVRE</title>
        </head>

        <body>
            <div class="wrapper">
        

                {# Condition pour gérer le titre selon si on créer ou l'on modifie une livre #}
                {% if edit %}
                    <h3>Modifier un livre</h3>
                {% else %}
                    <h3>Ajouter un nouveau livre</h3> 
                {% endif %}

                <div class="formAddInscription">

                    {# Affiche le formulaire #}
                    {{ form_start(form) }}

                        {{ form_row(form.titre) }}
                        {{ form_row(form.date_publication) }}
                        {{ form_row(form.couverture) }}
                        {{ form_row(form.tome) }}
                        {{ form_row(form.resume) }}
                        {{ form_row(form.serie) }}
            
                    {{ form_end(form) }}

                </div>

                <nav id="men">
                    <div id="menu">
                        <a href="{{ path ('app_livre') }}"><img class="lk" src="{{ asset('img/backward-step-solid.svg') }}" alt="Retour à la liste des livres" title="Retourner à la liste des livres"></a>
                    </div>
                </nav>

            </div>

            <footer>

                <div id="info">
            
                    <div class="pied">
                
                        <figure>
                        <a href="https://linktr.ee/SageEtFou"><img src="{{ asset('img/qrCode.png') }}"
                            alt="QR Code de Daniel Aaron" class="logQR"></a>
                        </figure>
                
                        <div class="reseaux">
                        <a href="https://www.facebook.com/daniel.aaron.906638/"><img class="icoFb" src="{{ asset('img/square-facebook.svg') }}" alt="Lien vers le compte Facebook" title="Facebook"></a>
                        <a href="https://www.instagram.com/_daniel_aaron_/"><img class="icoIn" src="{{ asset('img/instagram.svg') }}" alt="Lien vers le compte Instagram" title="Instagram"></a>
                        <a href="https://www.linkedin.com/in/daniel-aaron"><img class="icoLkd" src="{{ asset('img/linkedin.svg') }}" alt="Lien vers le compte LinkedIn" title="LinkedIn"></a>
                        <a href="https://www.tiktok.com/@daniel.aaron67"><img class="icoTk" src="{{ asset('img/tiktok.svg') }}" alt="Lien vers le compte Tiktok" title="TikTok"></a>
                        <a href="https://www.youtube.com/@danielaaron125"><img class="icoYt" src="{{ asset('img/youtube.svg') }}" alt="Lien vers le compte Youtube" title="Youtube"></a>
                        <a href="https://twitter.com/Danielaaron67"><img class="icoTw" src="{{ asset('img/x-twitter.svg') }}" alt="Lien vers le compte Twitter" title="Twitter"></a>
                        <a href="https://open.spotify.com/user/31b6ue6zwhrygobz7olaor7dm54u"><img class="icoSp" src="{{ asset('img/spotify.svg') }}" alt="Lien vers le compte Spotify" title="Spotify"></a>
                        <a href="https://stripe.com/fr"><img class="icoPp" src="{{ asset('img/cc-stripe.svg') }}" alt="Lien vers Stripe" title="Stripe"></a>
                        </div>
                
                    </div>
                
                    <div class="acces">
                        <a href="{{ path ('app_mentions_legales') }}">Mentions Légales</a>
                        <a href="{{ path ('app_conditons_generales_vente') }}">CGV</a>
                        <a href="{{ path ('app_newsletters_home') }}">NEWSLETTERS</a>
                        <p class="text3">2023 © Fou et Sage - Template by Benjamin LOUIS</p>
                    </div>
                
                    <a href="#"><img class="boutonScroll" alt="bouton scroll" src="{{ asset('img/UP.jpg') }}"></a>
                
                </div>
            
            </footer>
           

            {% block javascripts %}

                {# Framework Bootstrap #}
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
                
            {% endblock %}

        </body>

    </html>

{% endblock %}
