{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block body %}
    <!DOCTYPE html>
    <html lang="fr">

        <head>
            <meta charset="utf-8">

            <link rel="stylesheet" href="{{ asset('css/file.css') }}">
            
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">


            <title>DETAIL DU LIVRE</title>
        </head>

        <body>
            <div class="wrapper">
                <header>
                    <!-- Cette page concerne le détail de chaque livres-->
                    <h3>DETAILS</h3>
                   
                    
                    <section class="price">

                        <div class="blocPrice">
                            
                            <div class="pack">   

                                <div class="front">
                                    {# POUR AFFICHER LE FORMAT #}
                                    {# {% for livre in formatLivre.livre %} #}
                                        {# <h2>{{ formatLivre.format }}</h2> #}
                                    {# {% endfor %} #}

                                    {# Accéder au détail du livre en passant la souris sur le titre d'un livre (effet carte retournée) #}
                                    <figure>
                                        {# Pour afficher les couvertures de chaque livres #}
                                        <img src="{{ asset('uploads/images/'~ livre.couverture) }}" alt="Couvertures des livres de la collection Revolutions" class="log">
                                    </figure>
                                    <div class="acheter1">ACHETEZ-MOI</div> 

                                </div>
                
                                <div class="back">

                                    <figure>
                                            {# Pour afficher les tomes de chaque livres #}
                                        <img src="{{ asset('uploads/images/'~ livre.tome) }}" alt="Une image contenant graphisme, capture d’écran, affiche, Graphique" class="log">
                                    </figure>

                                    {# Utiliser le filtre | date("d-m-Y")  pour formater la date #}
                                    <h3>{{ livre.datePublication | date("d-m-Y") }}</h3><br>
                                    
                                    {# POUR AFFICHER LE PRIX UNITAIRE #}
                                    {# {% for formatLivre in livre.formatLivre %} #}
                                        {# <h3>Prix : {{ formatLivre }} € ttc</h3> #}
                                    {# {% endfor %} #}

                                    <h6>(Dont 4 € de frais de port)</h6>

                                    <p>{{ livre.resume }}</p> 
                                    
                                    {%  if app.user %}
                                        {# Pour ajouter un livre à la commande #}
                                        <a href=""><img class="icone1" src="{{ asset('img/cart-plus-solid.svg') }}" alt="Ajouter au panier" title="Ajouter au panier"></a>  
                                    {% endif %}

                                </div>
                            
                            </div>
                            
                        </div>

                    </section> 

                    <nav id="men">
                        <div id="menu">
                            <a href="{{ path ('app_livre', {id: livre.id}) }}"><img class="lk" src="{{ asset('img/backward-step-solid.svg') }}" alt="Retour à la liste des livres" title="Retourner à la liste des livres"></a>                        </div>
                        </div>
                    </nav>

                </header>
            </div>
            <!-- <script>src = "script.js"</script> -->
        </body>

    </html>
{% endblock %}
