{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block body %}

    <!DOCTYPE html>
    <html lang="fr">

        <head>
            <meta charset="utf-8">

            <link rel="stylesheet" href="{{ asset('css/file.css') }}">

            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">

            {# Framework Bootstrap #}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
            
            <title>Formulaire d'inscription</title>
        </head>

        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <div class="wrapper">
            <header>
                <h1>INSCRIPTION</h1>
                <p>Remplir le formulaire ci-dessous pour vous inscrire</p><br>
                <div class="formAddInscription">

                    {{ form_errors(registrationForm) }}

                    {{ form_start(registrationForm) }}

                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.pseudo) }}

                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Mot de passe'
                        }) }}

                        <br><p>En cochant cette case vous acceptez le traitement de vos données personnelles</p>
                        <div class="check">

                            {{ form_row(registrationForm.is_rgpd, {
                                label: 'J\'ai lu et j\'accepte les CGV'
                            }) }}
                            
                        </div>
                        {# Créer un champ caché pour recevoir et valider le token #}
                        {# <input type="hidden" id="recaptchaResponse" name="recaptcha-response"> #}

                        <button type="submit" class="btn btn-dark">Validez</button>
                        
                    {{ form_end(registrationForm) }}

                </div>

                {# Script JS pour éxécuter le Captcha de Google #}
                {# <script src="https://www.google.com/recaptcha/api.js?render=6LemV_MnAAAAAEzotTK_2Jah4FMbZTmJa90z4qkE"></script>
                <script> 
                grecaptcha.ready(function() {
                    grecaptcha.execute('6LemV_MnAAAAAEzotTK_2Jah4FMbZTmJa90z4qkE', {action: 'homepage'}).then(function(token) {
                        // Gérer le traitement du token
                        document.getElementById("recaptchaResponse").value = token
                    });
                });
                </script> #}

                {# Framework Bootstrap #}
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
                

                <div class="informations">
                    <div id="menu">
                        <a href="{{ path ('app_home') }}"><img class="lk" src="{{ asset('img/house-solid.svg') }}" title="Retour à l'accueil" alt="Retour à la page d'accueil"><br>Accueil</a>
                    </div>
                </div>

            </header>
        </div>
        <footer>

            <div id="info">
        
                <div class="pied">
            
                    <figure>
                    <a href="https://linktr.ee/SageEtFou"><img src="{{ asset('img/qrCode.png') }}"
                        alt="QR Code de Daniel Aaron" class="logQR"></a>
                    </figure>
            
                    <div class="reseaux">
                    <a href="https://www.facebook.com/daniel.aaron.906638/"><img class="icoFb" src="{{ asset('img/square-facebook.svg') }}" alt="Lien vers le compte Facebook" title="Facebook"></a>
                    <a href="https://www.instagram.com/_daniel_aaron_/"><img class="icoIn" src="{{ asset('img/instagram.svg') }}" alt="Lien vers le compte Instagram" title="Instagram"></a>
                    <a href="https://www.linkedin.com/in/daniel-aaron"><img class="icoLkd" src="{{ asset('img/linkedin.svg') }}" alt="Lien vers le compte LinkedIn" title="LinkedIn"></a>
                    <a href="https://www.tiktok.com/@daniel.aaron67"><img class="icoTk" src="{{ asset('img/tiktok.svg') }}" alt="Lien vers le compte Tiktok" title="TikTok"></a>
                    <a href="https://www.youtube.com/@danielaaron125"><img class="icoYt" src="{{ asset('img/youtube.svg') }}" alt="Lien vers le compte Youtube" title="Youtube"></a>
                    <a href="https://twitter.com/Danielaaron67"><img class="icoTw" src="{{ asset('img/x-twitter.svg') }}" alt="Lien vers le compte Twitter" title="Twitter"></a>
                    {# <a href="https://open.spotify.com/user/31b6ue6zwhrygobz7olaor7dm54u"><img class="icoSp" src="{{ asset('img/spotify.svg') }}" alt="Lien vers le compte Spotify" title="Spotify"></a>
                    <a href="https://stripe.com/fr"><img class="icoPp" src="{{ asset('img/cc-stripe.svg') }}" alt="Lien vers Stripe" title="Stripe"></a> #}
                    </div>
            
                </div>
            
                <div class="acces">
                    <a href="{{ path ('app_mentions_legales') }}">Mentions Légales</a>
                    <a href="{{ path ('app_conditons_generales_vente') }}">CGV</a>
                    <a href="{{ path ('app_newsletters_home') }}">S'inscrire à la newsletter</a>
                    <p class="text3">2023 © Fou et Sage - Réalisé par Benjamin LOUIS</p>
                </div>
            
            </div>
        
        </footer>

    </html>

{% endblock %}
