{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block body %}

    <!DOCTYPE html>
    <html lang="fr">

        <head>
            <meta charset="utf-8">

            <link rel="stylesheet" href="{{ asset('css/file.css') }}">

            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">

            <title>Formulaire d'inscription</title>
        </head>

        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <div class="wrapper">
            <header>
                <h3>INSCRIPTION</h3>

                <div class="formAddInscription">

                    {{ form_errors(registrationForm) }}

                    {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.pseudo) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Mot de passe'
                        }) }}
                        {{ form_row(registrationForm.agreeTerms, {
                            label: 'CGV'
                        }) }}

                        <button type="submit" class="btn">Validez</button>
                    {{ form_end(registrationForm) }}

                </div>

                <div class="informations">
                    <div id="menu">
                        <a href="{{ path ('app_home') }}"><img class="lk" src="{{ asset('img/house-solid.svg') }}" title="Retour à l'accueil" alt="Retour à la page d'accueil"></a>
                    </div>
                </div>

            </header>
        </div>

    </html>

{% endblock %}
