{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block body %}
    <!DOCTYPE html>
    <html lang="fr">

        <head>
            <meta charset="utf-8">

            <link rel="stylesheet" href="{{ asset('css/file.css') }}">
            
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">


            <title>CGV</title>
        </head>

        <body>
            <div class="wrapper">
                <header>
                    <!-- Cette page contient Les Conditions Générales de Ventes -->
                    <h3>Conditions Générales de Ventes</h3>

                    <div class="mentions">
                        
                        <p>(CGV version 2.0 entrée en vigueur au 01 septembre 2020)</p><br>

                        <br><h3>ARTICLE 1 : Dispositions Générales</h3>
                        <p>
                            <br><h4>1.1 Application : </h4>
                            Les présentes Conditions Générales de vente (ci-après « Conditions Générales »)<br>
                            s’appliquent à toute commande passée auprès de la société MT&CO par ses clients (ci-après « Client(s) »), en France qu’à l’étranger.<br>
                            Ces Conditions Générales prévalent sur toutes autres conditions générales et ne peuvent être modifiées<br>
                            que par des Conditions Particulières préalablement et expressément acceptées par écrit par MT&CO et par le Client.<br>
                            En aucun cas les conditions générales d'achat du Client ne sont opposables aux Conditions Générales de Vente de la société MT&CO.<br>

                            <br><h4>1.2 Références Commerciales : </h4>
                            Le Client autorise MT&CO à faire figurer le nom et/ou logo du Client
                            sur une liste de références commerciales, sauf mention explicite de la part du Client.<br>

                            <br><h4>1.3 Cession : </h4>
                            Les Conditions Générales seront applicables aux Parties ainsi qu'à tous leurs successeurs ou cessionnaires,<br>
                            étant expressément admis par les Parties qu'elles ne pourront céder ou déléguer leurs droits ou obligations <br>
                            stipulés aux présentes (autres que ceux expressément admis dans le cadre des présentes) à aucun tiers <br>
                            sans l'accord préalable et écrit de l'autre Partie.<br>
                        </p>

                        <br><h3>ARTICLE 2 : Prix et conditions de paiement</h3>
                        <p>
                            
                            <br><h4>2.1 Prix : </h4>
                            Le prix des livres est celui en vigueur au moment de l’émission de la commande, toute remise antérieurement accordée<br>
                            peut être modifiée lors de chaque nouvelle commande.<br>
                            Les prix sont exprimés en euros TTC.<br>
                            Le prix du livre couvre les coûts, de fabrication, d'édition et de livraison.<br>

                            <br><h4>2.2 Conditions de paiement :</h4>
                            Le paiement se fait en ligne par Carte Bancaire via la plate-forme STRIPE.<br>
                        </p>

                        <br><h3>ARTICLE 3 : Annulations</h3>
                        <p>
                            <br><h4>3.1 Commandes : </h4>
                            Toute commande devra passer par la plate-forme de paiement en ligne STRIPE.<br>
                            Toute commande est soumise à l’acceptation de la société MT&CO, qui intervient dans les (3) trois jours ouvrés de la réception de la commande.<br>
                            MT&CO peut modifier certaines modalités de la commande, et en notifier alors le Client,<br>
                            lequel sera réputé avoir accepté lesdites modifications à défaut de contestation dans un délai de trois (3) jours ouvrés<br>
                            à compter de la date de réception de la notification.<br>
                            
                            <br>Pour toute autres demandes, le Client devra adresser à MT&CO un mail à l’adresse suivante: etrefouetsage@gmail.com<br>
                            
                            <br><h4>3.2 Annulations du Client : </h4>
                            Le client dispose d'un délai de retractation de 3 jours à compté de la réception du livre, au-delà de ce délai, aucuns remboursements n'est possible<br>
                            
                            <br>Pour être remboursé, le client devra dans le délai imparti:<br>
                            envoyer une notification à MT&CO par mail à l’adresse suivante:<br>

                            <br>etrefouetsage@gmail.com<br>

                            restituer le livre dans un état irréprochable et à sa charge par voie postale à l'adresse suivante:<br>
                            
                            <br>98 rue Bobillot 75013 PARIS 13, France<br>

                            <br>Suivant l'état du livre et de son emballage, une retenue de 30% du montant de la commande sera déduite du remboursement<br>

                            <br>Après la commande et avant la livraison, en cas d’annulation d’une commande par le Client, celui-ci acquittera,<br>
                            à titre de dédommagement à MT&CO, une somme forfaitaire, déterminée comme suit:<br>
                            
                            <br>30 % du montant de la commande resteront acquis à MT&CO si l’annulation est reçue par notification le lendemain de la commande ou avant l'expédition.<br> 
                            
                            <br><h4>3.3 Annulations de MT&CO : </h4>
                            MT&CO se réserve le droit d’annuler la production en cas de force
                            majeure (rupture de stock, problèmes d’approvisionnement en matières premières, en cas d'épidémie,<br>
                            interruption des services en cas de conflits sociaux, défaillance des moyens de transmission des communications,<br>
                            indisponibilité des locaux d'éditions du fait d’un tiers, conditions météorologiques, etc.)<br>
                            sans dédommagement, ni pénalité au Client.<br>
                            Le Client se verra proposer un remboursement de la commande, dans le cadre d'une commande en cours,<br>
                            ou pourra annuler sa commande sans pénalités<br>

                            <br>MT&CO ne pourra être tenu responsable des frais engagés par le Client ou dommages<br> 
                            conséquents à l'annulation d'une commande ou à son report à une date ultérieure. <br>

                            <br>Les livres ne sont pas des documents contractuels et MT&CO se réserve le droit 
                            d’interrompre la commercialisation, à tout moment, de l’un de ses livres.<br>
                        </p>

                        <br><h3>ARTICLE 4 : Droit de Propriété</h3>
                        
                        <p>
                            <br>MT&CO et l'auteur Daniel Aaron conserve l'intégralité des droits d'auteur (propriété littéraire et artistique)<br>
                            et des droits de propriété intellectuelle et industrielle sur le contenu des livres.<br>
                            Toute reproduction, modification ou divulgation à des tiers de tout ou partie de ces livres,<br>
                            sous quelque forme que ce soit, est interdite et entraînera des poursuites judiciaires.<br>
                        </p>

                        <br><h3>ARTICLE 5 : Droit applicable - Attribution de compétence</h3>

                        <p>
                            <br><h4>5.1 Conformité aux Lois : </h4>
                            Le présent contrat est soumis à la loi française. Les Parties s'engagent à se conformer à tout moment aux lois<br>
                            et réglementations en vigueur et applicables à la date de réalisation des services régis par les Conditions Générales et/ou la Commande.<br>
                            
                            <br><h4>5.2 Procédure d'escalade : </h4>
                            Chacune des Parties accepte que tout différend entre les Parties relatif aux présentes sera, dans un premier temps,<br>
                            soumis à un dirigeant expérimenté désigné par chacune des Parties, ces dirigeants se rencontreront<br>
                            afin de trouver une solution au différend.<br>
                            Les décisions prises par les dirigeants mentionnés ci-dessus seront définitives et irrévocables,<br>
                            les Parties acceptant dès à présent de s'y soumettre.<br>

                            <br><h4>5.3 Juridiction Compétente : </h4>
                            Tout litige sera de la compétence du tribunal de commerce de Paris.<br>
                        </p>
                        
                        <br><h3>MT&CO</h3>
                        <p>
                            98 rue Bobillot 75013 PARIS 13, France<br>
                            etrefouetsage@gmail.com<br>
                            SIRET: 912 262 748 00011
                        </p>
                    </div>

                    <nav id="men">
                        <div id="menu">
                        <a href="{{ path ('app_home') }}"><img class="lk" src="{{ asset('img/house-solid.svg') }}" alt="Retour à la page d'accueil" title="Retour à l'accueil"><br>Accueil</a>
                        </div>
                    </nav>

                </header>
            </div>
            <!-- <script>src = "script.js"</script> -->
        </body>

        <footer>

            <div id="info">
        
                <div class="pied">
            
                    <figure>
                    <a href="https://linktr.ee/SageEtFou"><img src="{{ asset('img/qrCode.png') }}"
                        alt="QR Code de Daniel Aaron" class="logQR"></a>
                    </figure>
            
                    <div class="reseaux">
                    <a href="https://www.facebook.com/daniel.aaron.906638/"><img class="icoFb" src="{{ asset('img/square-facebook.svg') }}" alt="Lien vers le compte Facebook" title="Facebook"></a>
                    <a href="https://www.instagram.com/_daniel_aaron_/"><img class="icoIn" src="{{ asset('img/instagram.svg') }}" alt="Lien vers le compte Instagram" title="Instagram"></a>
                    <a href="https://www.linkedin.com/in/daniel-aaron"><img class="icoLkd" src="{{ asset('img/linkedin.svg') }}" alt="Lien vers le compte LinkedIn" title="LinkedIn"></a>
                    <a href="https://www.tiktok.com/@daniel.aaron67"><img class="icoTk" src="{{ asset('img/tiktok.svg') }}" alt="Lien vers le compte Tiktok" title="TikTok"></a>
                    <a href="https://www.youtube.com/@danielaaron125"><img class="icoYt" src="{{ asset('img/youtube.svg') }}" alt="Lien vers le compte Youtube" title="Youtube"></a>
                    <a href="https://twitter.com/Danielaaron67"><img class="icoTw" src="{{ asset('img/x-twitter.svg') }}" alt="Lien vers le compte Twitter" title="Twitter"></a>
                    <a href="https://open.spotify.com/user/31b6ue6zwhrygobz7olaor7dm54u"><img class="icoSp" src="{{ asset('img/spotify.svg') }}" alt="Lien vers le compte Spotify" title="Spotify"></a>
                    <a href="https://stripe.com/fr"><img class="icoPp" src="{{ asset('img/cc-stripe.svg') }}" alt="Lien vers Stripe" title="Stripe"></a>
                    </div>
            
                </div>
            
                <div class="acces">
                    <a href="{{ path ('app_mentions_legales') }}">Mentions Légales</a>
                    <a href="{{ path ('app_conditons_generales_vente') }}">CGV</a>
                    <a href="{{ path ('app_newsletters_home') }}">NEWSLETTERS</a>
                    <p class="text3">2023 © Fou et Sage - Template by Benjamin LOUIS</p>
                </div>
            
                <a href="#"><img class="boutonScroll" alt="bouton scroll" src="{{ asset('img/UP.jpg') }}"></a>
            
            </div>
        
        </footer>
       

    </html>
{% endblock %}
