{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block body %}
    <!DOCTYPE html>
    <html lang="fr">

        <head>
            <meta charset="utf-8">

            <link rel="stylesheet" href="{{ asset('css/file.css') }}">
            
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">


            <title>Détail de la commande</title>
        </head>
        {# Détail de la commande cible à savoir la liste des livres #}
        <h3>Détail de la commande du {{ commande.dateCommande | date("d-m-Y") }}</h3>
        <body>
            <div class="wrapperLivres">

                {# Afficher les coordonnées du client #}
                <div class="order">
                    {{ commande.coordonnees }}

                    <div class="articles">

                        {# Créer une condition pour afficher un message quand il y a pas de livres dans une collection #}
                        {% if commande.commandeLivre | length >0 %}
                        
                            {% for commandeLivre in commande.commandeLivres %}
                                
                                <figure>
                                    {# Pour afficher les couvertures de chaque livres #}
                                    <img src="{{ asset('uploads/images/'~ livre.couverture) }}" alt="Couverture des Livres de la collection sélectionnée" class="cover">
                                </figure>
                            
                            {% endfor %}

                        {% else %}

                            <p>Aucuns livres dans cette commande</p>
                    
                        {% endif %} 
                        
                    </div>
                
                    <nav id="men">
                        <div id="menu">

                            <a href=""><img class="lk" src="{{ asset('img/cart-shopping-solid.svg') }}" alt="Finaliser la commande" title="Finaliser la commande"></a>
                            
                            <a href="{{ path ('app_user') }}"><img class="lk" src="{{ asset('img/user-solid.svg') }}" alt="Retour à l'espace personnel" title="Retourner à l'espace personnel"></a>
                        </div>
                    </nav>
                </div>    
            </div>
        </body>

    </html>

{% endblock %}
