{% extends 'base.html.twig' %} 
    {# Le design de cette page dépend du fichier base.html.twig et doit s'éxécuter sur la page d'accueil #}
{% block title %}Actualités{% endblock %}

{% block body %}
    <div class="actu">
        <h1 id="fil">ACTUALITES</h1>

        <div class="fil">
            {# Lire et afficher toutes les notifications #}

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    
                {% endfor %}
            {% endfor %}

            {% if is_granted('ROLE_ADMIN') %}
                {# Seul l'admin peut ajouter un nouvel article, modifier et supprimer #}
                <a href="
                {{ path ('new_article') }}
                " class="ajouter"><img class="lk" src="{{ asset('img/plus-solid.svg') }}" alt="Ajouter un article" title="Ajouter un article"></a>
            {% endif %}

        </div>
        <section class="article">

            {% for article in articles %}

                <div class="blocArticle">
                    
                    <div class="pack">   

                        <div class="frt">

                            {# Utiliser le filtre | date("d-m-Y")  pour formater la date #}  
                            <h3>{{ article.dateArt | date("d-m-Y") }}</h3>
                            <h2> {{ article.user}} </h2>
                            <p>{{ article }}</p>
                            {# Afficher et accéder aux commentaires #}
                        
                        </div>
        
                        <div class="bck">
                            
                            {%  if app.user %}
                        
                                {# Afficher et accéder aux commentaires #}

                                <div class="liste">
                                    {# Seul l'admin peut modifier et/ou supprimer un livre #}
                                    <div class="option">
                                        <a class="crud" href="
                                        {# {{ path ('edit_livre', {id: livre.id}) }} #}
                                        "><img class="lk" src="{{ asset('img/pen-to-square-solid.svg') }}" alt="Commenter" title="Commenter"></a>
                                    </div>  
                                </div>

                            {% endif %}
                            
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="liste">
                                    {# Seul l'admin peut modifier et/ou supprimer un article #}
                                    <div class="option">

                                        <a class="crud" href="{{ path ('edit_article', {id: article.id}) }}"><img class="lk" src="{{ asset('img/pen-to-square-solid.svg') }}" alt="Modifier" title="Modifier"></a>
                                        <a class="crud" href="{{ path ('delete_article', {id: article.id}) }}"><img class="lk" src="{{ asset('img/trash-solid.svg') }}" alt="Supprimer" title="Supprimer"></a>
                                    </div>  
                                </div>
                            {% endif %}

                        </div>
                        
                    </div>
                        
                </div>

            {% endfor %}

        </section> 

    </div>

{% endblock %}
