{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block body %}
    <!DOCTYPE html>
    <html lang="fr">

        <head>
            <meta charset="utf-8">

            <link rel="stylesheet" href="{{ asset('css/file.css') }}">
            
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">

            
            {# Framework Bootstrap #}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">


            <title>Liste de toutes les commandes</title>
        </head>

        <body>
            <div class="wrapperLibre">
                <header>
                    <!-- Cette page concerne les séries de livres -->
                    <h3>Liste de toutes les commandes</h3>

                    {# Lire et afficher toutes les notifications #}

                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="flash-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% if is_granted('ROLE_ADMIN') %}

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    
                                    <th>Date</th>
                                    <th>Référence</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    
                                    <th>Action</th>
                                   
                                </tr>
                            </thead>

                            <tbody>

                                {# BDD L'élément de la collection #}
                                {# Créer une boucle for #}
                                {% for commandeLivre in commandeLivres %}
                                    <tr>
                                        <td>{{ commandeLivre.commande.dateCommande | date("d-m-Y") }}</td>
                                        <td>{{ commandeLivre.commande.numeroCommande }}</td>
                                        <td>{{ commandeLivre.commande }}</td>
                                        <td>{{ commandeLivre.commande.prenom }}</td>
                                        
                                        <td>
                                            <a href="" class="btn btn-dark">Consulter</a>
                                            <a href="" class="btn btn-dark">Supprimer</a> 
                                        </td>
                                        
                                        
                                    </tr>
                                    
                                        
                                    {# Seul l'admin peut modifier et/ou supprimer une collection #}
                                    {# <div class="optionAdmin">
                                        <a title="Accéder à la liste des livres de cette collection" href="{{ path ('show_serie', {id: serie.id, slug:serie.slug}) }}"><h3>{{ serie }}</h3></a>
                                        <a class="crud" href="{{ path ('edit_serie', {id: serie.id}) }}"><img class="icone" src="{{ asset('img/pen-to-square-solid.svg') }}" alt="Modifier" title="Modifier"></a>
                                        <a class="crud" href="{{ path ('delete_serie', {id: serie.id, slug:serie.slug}) }}"><img class="icone" src="{{ asset('img/trash-solid.svg') }}" alt="Supprimer" title="Supprimer"></a>
                                    </div> #}
                                        
                                    
                                {% endfor %}
                                
                            </tbody>
                        </table>

                    {% endif %}

                    <nav id="men">
                        <div id="menu">
                            <a href="{{ path ('app_user') }}"><img class="lk" src="{{ asset('img/user-solid.svg') }}" alt="Retour à l'espace personnel" title="Retourner à mon espace"><br>Mon espace</a>
                        </div>
                    </nav>

                </header>
            </div>

            <footer>

                <div id="info">
            
                    <div class="pied">
                
                        <figure>
                            <a href="https://linktr.ee/SageEtFou"><img src="{{ asset('img/qrCode.png') }}" alt="QR Code de Daniel Aaron" class="logQR"></a>
                        </figure>
                
                        <div class="reseaux">
                            <a href="https://www.facebook.com/daniel.aaron.906638/"><img class="icoFb" src="{{ asset('img/square-facebook.svg') }}" alt="Lien vers le compte Facebook" title="Facebook"></a>
                            <a href="https://www.instagram.com/_daniel_aaron_/"><img class="icoIn" src="{{ asset('img/instagram.svg') }}" alt="Lien vers le compte Instagram" title="Instagram"></a>
                            <a href="https://www.linkedin.com/in/daniel-aaron"><img class="icoLkd" src="{{ asset('img/linkedin.svg') }}" alt="Lien vers le compte LinkedIn" title="LinkedIn"></a>
                            <a href="https://www.tiktok.com/@daniel.aaron67"><img class="icoTk" src="{{ asset('img/tiktok.svg') }}" alt="Lien vers le compte Tiktok" title="TikTok"></a>
                            <a href="https://www.youtube.com/@danielaaron125"><img class="icoYt" src="{{ asset('img/youtube.svg') }}" alt="Lien vers le compte Youtube" title="Youtube"></a>
                            <a href="https://twitter.com/Danielaaron67"><img class="icoTw" src="{{ asset('img/x-twitter.svg') }}" alt="Lien vers le compte Twitter" title="Twitter"></a>
                        </div>
                
                    </div>
                
                    <div class="acces">
                        <a href="{{ path ('app_mentions_legales') }}">Mentions Légales</a>
                        <a href="{{ path ('app_conditons_generales_vente') }}">CGV</a>
                        <a href="{{ path ('app_newsletters_home') }}">S'inscrire à la newsletter</a>
                        <p class="text3">2023 © Fou et Sage - Réalisé par Benjamin LOUIS</p>
                    </div>
                
                </div>
            
            </footer>

            {# Framework Bootstrap #}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

        </body>

    </html>
{% endblock %}
