{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block body %}

    <!DOCTYPE html>
    <html lang="fr">

        <head>
            <meta charset="utf-8">

            <link rel="stylesheet" href="{{ asset('css/file.css') }}">

            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">

            {# Framework Bootstrap #}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

            <title>Formulaire de connexion</title>
        </head>
        <div class="wrapper">
            <header>
                <form method="post">

                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    
                    <h1>CONNEXION</h1>

                    {# (*) Pour afficher le message d'erreur de la fonction forgottenPassword() #}
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}

                            {# Forme du message simple #}
                            {# <div class="flash-{{ label }}">
                                {{ message }}
                            </div> #}

                            {# Forme du message amélioré avec Bootstrap #}
                            <div class="alert alert-warning alert-dismissible" role="alert">
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                <div class="alert-message">
                                    <strong>{{ message }}</strong>
                                </div>
                            </div>

                        {% endfor %}
                    {% endfor %}

                    <div class="formAddConnexion">

                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        {# Créer un champ caché pour recevoir et valider le token #}
                        {# <input type="hidden" id="recaptchaResponse" name="recaptcha-response"> #}

                        <br><button class="btn btn-dark" type="submit">Valider</button>

                    </div>
                    
                </form>

                <div class="informations">
                    <div id="reset">
                        <a href="{{ path ('forgotten_password') }}">Mot de passe oublié ?</a>
                    </div>
                    <div id="menu">
                        <a href="{{ path ('app_home') }}"><img class="lk" src="{{ asset('img/house-solid.svg') }}" 
                            title="Retour à l'accueil" alt="Retour à la page d'accueil"><br>Accueil</a>
                    </div>
                </div>


                {% block javascripts %}

                    {# Script JS pour éxécuter le Captcha de Google #}
                    {# <script src="https://www.google.com/recaptcha/api.js?render=6LemV_MnAAAAAEzotTK_2Jah4FMbZTmJa90z4qkE"></script>
                    <script> 
                    grecaptcha.ready(function() {
                        grecaptcha.execute('6LemV_MnAAAAAEzotTK_2Jah4FMbZTmJa90z4qkE', {action: 'homepage'}).then(function(token) {
                            // Gérer le traitement du token
                            document.getElementById("recaptchaResponse").value = token
                        });
                    });
                    </script> #}

                    {# Framework Bootstrap #}
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
                    
                {% endblock %}

            </header>
        </div>

        <footer>

            <div id="info">
        
                <div class="pied">
        
                    <figure>
                    <a href=""><img src="{{ asset('img/qrCode.png') }}"
                        alt="QR Code de Daniel Aaron" class="logQR"></a>
                    </figure>
            
                    <div class="reseaux">
                    <a href=""><img class="icoFb" src="{{ asset('img/square-facebook.svg') }}" alt="Lien vers le compte Facebook" title="Facebook"></a>
                    <a href=""><img class="icoIn" src="{{ asset('img/instagram.svg') }}" alt="Lien vers le compte Instagram" title="Instagram"></a>
                    <a href=""><img class="icoLkd" src="{{ asset('img/linkedin.svg') }}" alt="Lien vers le compte LinkedIn" title="LinkedIn"></a>
                    <a href=""><img class="icoTk" src="{{ asset('img/tiktok.svg') }}" alt="Lien vers le compte Tiktok" title="TikTok"></a>
                    <a href=""><img class="icoYt" src="{{ asset('img/youtube.svg') }}" alt="Lien vers le compte Youtube" title="Youtube"></a>
                    <a href=""><img class="icoTw" src="{{ asset('img/x-twitter.svg') }}" alt="Lien vers le compte Twitter" title="Twitter"></a>
                    {# <a href="https://open.spotify.com/user/31b6ue6zwhrygobz7olaor7dm54u"><img class="icoSp" src="{{ asset('img/spotify.svg') }}" alt="Lien vers le compte Spotify" title="Spotify"></a>
                    <a href="https://stripe.com/fr"><img class="icoPp" src="{{ asset('img/cc-stripe.svg') }}" alt="Lien vers Stripe" title="Stripe"></a> #}
                    </div>
        
                </div>
        
                <div class="acces">
                    <a href="{{ path ('app_mentions_legales') }}">Mentions Légales</a>
                    <a href="{{ path ('app_conditons_generales_vente') }}">CGV</a>
                    {# <a href="{{ path ('app_newsletters_home') }}">S'inscrire à la newsletter</a> #}
                    <p class="text3">2023 © Fou et Sage - Réalisé par Benjamin LOUIS</p>
                </div>
            
            </div>
        
        </footer>

    </html>

{% endblock %}
