{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block body %}
    <!DOCTYPE html>
    <html lang="fr">

        <head>
            <meta charset="utf-8">

            <link rel="stylesheet" href="{{ asset('css/file.css') }}">
            
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">


            <title>FORMATS</title>
        </head>

        <body>
            <div class="wrapper">
                <header>
                    <!-- Cette page concerne le format des livres Papier ou Numérique -->
                    <h3>FORMATS</h3>

                    {% if is_granted('ROLE_ADMIN') %}
                        {# Seul l'admin peut ajouter un nouveau format #}
                        <a class="crud" href="{{ path ('new_format') }}">AJOUTER</a>
                    

                        {# BDD L'élément de la format #}
                        {# Créer une boucle for #}
                        {% for format in formats %}
                            <div class="liste">
                                
                                

                                {# Seul l'admin peut modifier et/ou supprimer une format #}
                                <div class="option">
                                    <a class="crud" href="{{ path ('edit_format', {id: format.id}) }}"><img class="icone" src="{{ asset('img/pen-to-square-solid.svg') }}" alt="Modifier" title="Modifier"></a>
                                    <h1>{{ format }}</h1>
                                    <a class="crud" href="{{ path ('delete_format', {id: format.id}) }}"><img class="icone" src="{{ asset('img/trash-solid.svg') }}" alt="Supprimer" title="Supprimer"></a>
                                </div>
                                
                            </div>
                        {% endfor %}

                    {% endif %}

                    {% for format in formats %}
                        {# Accéder à la liste des livres pour chaque formats en cliquant sur l'intitulé d'un format #}
                        <a class="btn" title="Détail sur ce mode d'édition" href="{{ path ('show_format', {id: format.id}) }}">{{ format }}</a>
                    {% endfor %}

                    <nav id="men">
                        <div id="menu">
                            <a href="{{ path ('app_user') }}"><img class="lk" src="{{ asset('img/user-solid.svg') }}" alt="Retour à l'espace personnel" title="Retourner à mon espace"></a>
                        </div>
                    </nav>

                </header>
            </div>
            <!-- <script>src = "script.js"</script> -->
        </body>

    </html>
{% endblock %}
