{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block body %}
    <!DOCTYPE html>
    <html lang="fr">

        <head>
            <meta charset="utf-8">

            <link rel="stylesheet" href="{{ asset('css/file.css') }}">
            
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">


            <title>Détail du mode d'édition</title>
        </head>
        {# Information sur les modes d'édition #}
        <h3>Edition {{ format }}</h3>
        <body>
            <div class="wrapperEdition">

                {% if format.livres | length >0 %}
                
                    {% for livre in format.livres %}

                        {{ livre }}

                    {% endfor %}

                    <figure>
                        {# Pour afficher une photo en arrière plan pour illustrer le mode d'édition #}
                        <img src="{{ asset('uploads/images/'~ format.photo) }}" alt="Photo illustrant le mode d'édition" class="photo">
                    </figure>
                    
                    <div class="edition"> {{format.description}} </div> 

                {% else %}

                    <p>Aucuns livres {{ format }} disponibles</p>
                    
                    figure>
                        {# Pour afficher une photo en arrière plan pour illustrer le mode d'édition #}
                        <img src="{{ asset('uploads/images/'~ format.photo) }}" alt="Photo illustrant le mode d'édition" class="photo">
                    </figure>
                    
                    <div class="edition"> {{format.description}} </div> 
                
                {% endif %} 


                <nav id="men">
                    <div id="menu">
                        <a href="{{ path ('app_format') }}"><img class="lk" src="{{ asset('img/backward-step-solid.svg') }}" alt="Retour à la liste des modes d'édition" title="Retourner à la liste des modes d'édition"></a>
                    </div>
                </nav>
            </div>
        </body>

    </html>

{% endblock %}
