{% extends 'base.html.twig' %} 
    {# Le design de cette page dépend du fichier base.html.twig et doit s'éxécuter sur la page d'accueil #}
{% block title %}Actualités{% endblock %}

{% block body %}
    <div class="fil">
        
        <h1 id="fil">ARTICLES</h1>
   
        {# Lire et afficher toutes les notifications #}

        {# {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                
            {% endfor %}
        {% endfor %} #}

        {% if is_granted('ROLE_ADMIN') %}
            {# Seul l'admin peut ajouter un nouvel article, modifier et supprimer #}
            <a href="{{ path ('app_newsletters_prepare') }}" class="ajouter"><img class="lk" src="{{ asset('img/plus-solid.svg') }}" alt="Ajouter un article" title="Ajouter un article"><br>Ajouter</a>
        
            {# Tableau pour gérer les envois des newsletters #}
            <h1>Liste des Newsletters</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Catégorie</th>
                        <th>Date</th>
                        <th>Titre</th>
                        <th>Inscrit</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for newsletters in newsletters %}
                        <tr>
                            <td>{{ newsletters.id }}</td>
                            <td>{{ newsletters.categories.name }}</td>
                            <td>{{ newsletters.createdAt|date("d-m-Y")}}</td>
                            <td>{{ newsletters.name}}</td>
                            <td>{{ newsletters.categories.users|length}}</td>
                            <td>
                                {% if newsletters.isSent == false %}
                                    <a href="{{ path ('app_newsletters_send', {id: newsletters.id}) }}" class="btn btn-dark">Envoyer</a>
                                {% endif %}
                            </td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>
    <section class="article">

        {% for newsletters in newsletters %}

            <div class="blocArticle">


                {# Afficher la newsletter #}
                
                <h2> {{ newsletters.categories}} </h2>
                {# Utiliser le filtre | date("d-m-Y H:i")  pour formater la date #}  
                <h3>{{ newsletters.createdAt | date("d-m-Y H:i") }} -> {{ newsletters.name}}</h3>
                
                <figure>
                    {# Pour afficher les photos de chaque newsletters #}
                    <img src="{{ asset('uploads/images/'~ newsletters.picture) }}" alt="Plusieurs images au format jpg importées pour illustrer un article" class="log">
                </figure>
                
                <p>{{ newsletters }}</p>

                <a class="text3" href="{{ path ('app_newsletters_show', {id: newsletters.id, slug:newsletters.slug}) }}">Voir les commentaires</a> 

                {% if is_granted('ROLE_ADMIN') %}
                    <div class="liste">
                        {# Seul l'admin peut modifier et/ou supprimer un article #}
                        <div class="optionAdmin">
                            <br><h3>Gérer cet article</h3>
                            <a class="crud" href="
                            {{ path ('app_newsletters_edit', {id: newsletters.id}) }}
                            "><img class="lk" src="{{ asset('img/pen-to-square-solid.svg') }}" alt="Modifier" title="Modifier"></a>
                            
                            <a class="crud" href="
                            {{ path ('app_newsletters_delete_newsletters', {id: newsletters.id, slug:newsletters.slug}) }}
                            "><img class="lk" src="{{ asset('img/trash-solid.svg') }}" alt="Supprimer" title="Supprimer"></a>
                        
                        </div>  
                    </div>
                {% endif %}
      
            </div>

        {% endfor %}
        
    </section>

{% endblock %}

