{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block body %}
    <!DOCTYPE html>
    <html lang="fr">

        <head>
            <meta charset="utf-8">

            <link rel="stylesheet" href="{{ asset('css/file.css') }}">
            
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">

            <title>Détail de la commande</title>
        </head>

        {# <h3>Commande n° {{ commande.numeroCommande }}<br>
            faite le {{ commande.dateCommande | date("d-m-Y") }}<br> 
            par {{commande.user.pseudo}}
        </h3> #}

        <body>
            <div class="wrapperLivres">

                {# Afficher les coordonnées du client #}
                <div class="order">
                    {# <h2>Adresse de Livraison</h2>{{ commande.coordonnees }} #}
                    
                    <div class="articles">
    
                        {# {% for commandeLivre in commandeLivres %} #}

                            <figure>
                                {# Pour afficher les couvertures de chaque livres #}
                                {# <img src="{{ asset('uploads/images/'~ commandeLivre.livre.couverture) }}" alt="Couverture des Livres de la collection sélectionnée" class="cover"> #}
                            </figure>

                            {# <figcaption>
                                <h2>Quantité :</h2>{{ commandeLivre }}
                                <h2>Prix :</h2>{{ commandeLivre.Livre.prixUnitaire }} € ttc
                            </figcaption> #}
                            
                        {# {% endfor %} #}

                    </div>

                    <nav id="men">
                        <div id="menu">
                            <a href=""><img class="lk" src="{{ asset('img/euro-sign-solid.svg') }}" alt="Finaliser la commande" title="Finaliser la commande"></a>
                            
                            {# <a href="{{ path ('show_user', {id: app.user.id}) }}"><img class="lk" src="{{ asset('img/backward-step-solid.svg') }}" alt="Retour" title="Retour"></a> #}
                        </div>
                    </nav>

                </div> 

            </div>
        </body>

    </html>

{% endblock %}
