{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block body %}

    <!DOCTYPE html>
    <html lang="fr">

        <head>
            <meta charset="utf-8">

            <link rel="stylesheet" href="{{ asset('css/file.css') }}">
        
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">

            {# Framework Bootstrap #}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">


            <title>MON ESPACE</title>
             
        </head>

        <body>
            <div class="wrapper">
                <header>
                    <!-- Cette page contient L'espace personnel des utilisateurs -->
                    <h1>MON ESPACE</h1>
                    <h2>Bienvenue dans votre espace personnel {{ app.user }} </h2><br>
                    
                    {# Condition pour envoyer un message si l'utilisateur connecté n'a pas vérifier son compte #}
                    {% if app.user and app.user.isVerified == false %}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            <div class="alert-message">
                                <strong>Votre compte n'est pas activé</strong>
                            </div>
                        </div>
                    {% endif %}

                    {# Lire et afficher toutes les autres notifications #}
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            {# Forme du message amélioré avec Bootstrap #}
                            <div class="alert alert-warning alert-dismissible" role="alert">
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                <div class="alert-message">
                                    <strong>{{ message }}</strong>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}

                    <div class="admin">
                        {# Fonction pour l'Administrateur #}
                        {% if is_granted('ROLE_ADMIN') %}
                        
                            <br><a href="{{ path ('app_serie') }}"><img class="icone2" src="{{ asset('img/gears-solid.svg') }}" title="Ajouter une nouvelle Collection" alt="Ajouter une nouvelle Collection"></a>
                            
                            <br><a href="{{ path ('app_categories') }}"><img class="icone2" src="{{ asset('img/pen-to-square-solid.svg') }}" title="Gérer les catégories" alt="Gérer les catégories"></a>
                            
                            {# <br><a href=""><img class="icone2" src="{{ asset('img/people-roof-solid.svg') }}" title="Gérer les Clients" alt="Gérer les Clients"></a> #}
                        
                        {% endif %}   
                    </div>
                    {# Fonctions pour les utilisateurs #}
                    <nav id="men">
                        <div id="menu">

                            <a href="{{ path ('app_newsletters_list') }}#fil"><img class="lk" src="{{ asset('img/earth-americas-solid.svg') }}" title="Fil d'actualités" alt="Fil d'actualités"></a>

                            <a href="{{ path ('app_format') }}"><img class="lk" src="{{ asset('img/circle-info-solid.svg') }}" title="Voir les formats d'édition" alt="Voir les formats d'édition"></a>
                            <a href="{{ path ('app_livre') }}"><img class="lk" src="{{ asset('img/book-solid.svg') }}" title="Voir tous les livres" alt="Voir tous les livres"></a>
                            
                            <a href="{{ path ('panier_index') }}"><img class="lk" src="{{ asset('img/cart-arrow-down-solid.svg') }}" alt="Voir mon panier" title="Voir mon panier"></a>
                            
                            {# Permet d'afficher la page des commandes propre à chaque utilisateurs #}
                            <a href="{{ path ('show_user', {id: app.user.id}) }}"><img class="lk" src="{{ asset('img/cart-shopping-solid.svg') }}" alt="Voir mes commandes et mes factures" title="Voir mes commandes et mes factures"></a>
                
                            <a href="{{ path ('app_param') }}"><img class="lk" src="{{ asset('img/gear-solid.svg') }}" title="Gérer mon compte" alt="Gérer mon compte"></a>
                            <a href="{{ path ('app_home') }}"><img class="lk" src="{{ asset('img/house-solid.svg') }}" title="Retourner à la page d'accueil" alt="Retour à la page d'accueil"></a>
                        
                        </div>
                    </nav>
                </header>
            </div>
            
            {% block javascripts %}

                {# Framework Bootstrap #}
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
                
            {% endblock %}
        </body>

    </html>

{% endblock %}
