{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block body %}

    <!DOCTYPE html>
    <html lang="fr">

        <head>
            <meta charset="utf-8">

            <link rel="stylesheet" href="{{ asset('css/file.css') }}">
        
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">


            <title>MON ESPACE</title>
             
        </head>

        <body>
            <div class="wrapper">
                <header>
                    <!-- Cette page contient L'espace personnel des utilisateurs -->
                    <h3>MON ESPACE</h3>
                    <h2>Bienvenue dans votre espace personnel {{ app.user.Pseudo }} </h2><br>
                    
                    {# Communs à tous #}
                    <br><a href="{{ path ('app_serie')}}">Les collections</a>
                    <a href="{{ path ('app_format')}}">Les Formats</a>
                    <a href="{{ path ('app_livre')}}">Les livres</a><br>

                    {# Seul l'administrateur peut voir toutes les commandes #}
                    {# {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path ('app_commande')}}"><img class="icone2" src="{{ asset('img/cart-shopping-solid.svg') }}" alt="Voir toutes les commandes" title="Voir toutes les commandes"></a>
                    {% endif %}   #}
                    
                    {# Pour accéder aux paniers de chaque utilisateurs #}
                    {# {% for user in users%} #}
                        <a href="{{ path ('show_user', {id: user.id}) }}"><img class="icone2" src="{{ asset('img/cart-plus-solid.svg') }}" alt="Voir mon panier" title="Voir mon panier"></a>
                    {# {% endfor %} #}

                    <nav id="men">
                        <div id="menu">
                            <a href="{{ path ('app_param') }}"><img class="lk" src="{{ asset('img/gear-solid.svg') }}" title="Accéder aux paramêtres du compte" alt="Accéder aux paramêtres du compte"></a>
                            <a href="{{ path ('app_home') }}"><img class="lk" src="{{ asset('img/house-solid.svg') }}" title="Retourner à l'accueil" alt="Retour à la page d'accueil"></a>
                        </div>
                    </nav>
                </header>
            </div>
            <!-- <script>src = "script.js"</script> -->
        </body>

    </html>


{% endblock %}
