{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block body %}
    <!DOCTYPE html>
    <html lang="fr">

        <head>
            <meta charset="utf-8">

            <link rel="stylesheet" href="{{ asset('css/file.css') }}">
            
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">


            <title>Mes Commandes</title>
        </head>

        <body>
            <div class="wrapper">
                <header>

                    <!-- Cette partie concerne les commandes de chaque utilisateurs -->
                    <h3>MES COMMANDES</h3>

                    {# Lire et afficher toutes les notifications #}
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="flash-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {# Ce que les utiliseurs peuvent voir #}
                    {# Créer une condition pour afficher un message quand il n'y a pas de commandes #}
                    
                    {% if user.commande | length >0 %}

                        {% for commande in user.commande %}
                            
                            <div class="liste">
                                    
                                <div class="option">

                                    {% if commande.facture | length >0 %}

                                        {# Permet d'afficher la page des factures propre à chaque commandes #}
                                        <a class="crud" href="{{ path ('app_facture_detail_facture', {id: commande.id}) }}"><img class="icone2" src="{{ asset('img/file-solid.svg') }}" alt="Voir la facture" title="Voir la facture"></a>
                                        <h2>FACTURE</h2>
                                        
                                    {% else %}

                                        {# Accéder au détail en cliquant sur la date de commande #}
                                        <a class="btnCom" title="Accéder au détail de cette commande" href="{{ path ('detail_commande', {id: commande.id}) }}">{{ commande.dateCommande | date("d-m-Y") }}</a>
                                        
                                    {% endif %}

                                    {# Pour supprimer la commande et la facture #}
                                    <a class="crud" href="{{ path ('app_commande_delete_commande', {id: commande.id}) }}"><img class="icone2" src="{{ asset('img/trash-solid.svg') }}" alt="Supprimer" title="Supprimer"></a>
                                        
                                </div>
                                
                            </div>

                        {% endfor %}

                    {% else %}
                        <p>Aucunes commandes</p>
                    {% endif %}
                    
                    <nav id="men">
                        <div id="menu">
                            <a href="{{ path ('app_user', {id: user.id}) }}"><img class="lk" src="{{ asset('img/user-solid.svg') }}" alt="Retourner à mon espace" title="Retourner à mon espace"></a>
                        </div>
                    </nav>

                </header>
            </div>
            <!-- <script>src = "script.js"</script> -->
        </body>

    </html>
{% endblock %}
