{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ asset('css/file.css') }}">
   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">


    <title>MENTIONS LEGALES</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <!-- Cette page contient Les Mentions Légales -->
            <h3>MENTIONS LEGALES</h3>
            <div class="mentions">

                <p>Le site web de Daniel Aaron est édité par Benjamin Louis<br>
                    Etudiant Développeur Web et Web Mobile au centre ELAN Formation à Colmar du 13 mars au 01 décembre 2023.<br>
                    Dans le cadre de sa formation, Benjamin Louis réalise ce projet afin de permettre à Daniel Aaron<br>
                    de promouvoir et vendre en ligne ses ouvrages littéraires.<br>

                    <br>En vertu de l’Article 6 de la Loi n° 2004-575 du 21 juin 2004<br>
                    pour la confiance dans l’économie numérique, il est précisé dans cet<br>
                    article l’identité des différents intervenants dans le cadre de sa<br>
                    réalisation et de son suivi.<br>

                    <br>Les mentions légales vont évoluer suivant le développement du projet.<br>
            
                    <br><h3>ARTICLE 1 - Informations légales</h3><br>

                    <p></p>Le siège social de la société MT&CO est situé 98 rue Bobillot, 75013, PARIS 13, France.<br>
                    La société est identifiée par le numéro SIRET: 912 262 748 00011.<br>

                    <br>Vous pouvez contacter l'entreprise à l’adresse suivante :<br>
                    MT&CO<br>
                    98 rue Bobillot<br>
                    75013 PARIS 13<br>
                    France<br>
                    Et par email : etrefouetsage@gmail.com<br>

                    <br>Auteur/Ecrivain : Daniel Aaron<br>

                    <br>Développeur Web et Web Mobile : Benjamin Louis<br>
                    <p>Mail : benbylouis1984@gmail.com</p><br>

                    <br>Centre de Formation : ELAN FORMATION<br>
                    <a class="ml" href="https://elan-formation.fr/fr">https://elan-formation.fr/fr</a><br>

                    <br>Le site web est hébergé par : OVH<br>
                    <a class="ml" href="https://www.ovhcloud.com/fr/">https://www.ovhcloud.com/fr/</a><br>

                    <br>Plateforme de paiement en ligne : STRIPE<br>
                    <a class="ml" href="https://stripe.com/fr">https://stripe.com/fr</a><br>

                    <br>La Commission Nationale de l'Informatique et des Libertés : CNIL<br>
                    <a class="ml" href="https://www.cnil.fr/fr">https://www.cnil.fr/fr</a><br>
            
                    <br><h3>ARTICLE 2 - Accessibilité</h3><br>
                    <p>
                        Le Site est par principe accessible aux utilisateurs 24/24h et 7/7j,<br>
                        sauf interruption, programmée ou non, pour des besoins de <br>
                        maintenance ou en cas de force majeure.<br>

                        <br>En cas d’impossibilité d’accès au Site, celui-ci s’engage à faire<br>
                        son maximum afin d’en rétablir l’accès. Le Site ne saurait être<br>
                        tenu pour responsable de tout dommage, quelle qu’en soit la nature,<br>
                        résultant de son indisponibilité.
                    </p>

                    <br><h3>ARTICLE 3 - Collecte de données et loi informatique et libertés</h3><br>
                
                    <br>Le site web de Daniel Aaron est une vitrine pour promouvoir sa collection de livres Revolutions disponible en vente ou en pré-commande.<br>
                    Le site ne recueille pour l'instant aucune donnée.<br>

                    <br>Dans le cadre de son développement, le site constituera bientôt un fichier comportant des informations sur ses membres.<br>
                    
                    <br>La collecte de ces informations permettra notamment de traiter ces informations en vue de l'établissement de statistiques et pour envoyer aux membres des newsletter.<br>
                    Le site n’ayant pas encore la faculté de communiquer et exploiter ces informations auprès de tous tiers, de façon non-nominative.<br>
                    Le fichier ainsi constitué n’est pas encore enregistré à la C.N.I.L. étant donné que le projet est en cours de développement.<br>
            
                    <br>La société MT&CO s'interdit de communiquer les informations nominatives concernant les membres et les internautes en dehors des cas autorisés par la loi.<br>
                    <br>La société MT&CO s'engage à faire ses meilleurs efforts afin de mettre en œuvre des mesures techniques et d'organisation appropriées pour protéger les données à caractère personnel.
            
                    En application de la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés,<br>
                    chaque membre dispose des droits d'opposition (art. 26 de la loi), d'accès (art. 34 à 38 de la loi) et de rectification (art. 36 de la loi) des données le concernant.<br>
                    Ainsi, il peut exiger que soient rectifiées, complétées, clarifiées, mises à jour ou effacées les informations le concernant<br>
                    qui sont inexactes, incomplètes, équivoques, périmées ou dont la collecte ou l'utilisation, la communication ou la conservation est interdite.<br>
                    Pour cela le membre devra se conformer aux instructions décrites dans son espace membre lorsque cet espace sera disponible.<br>
                    
                    <br><h3>ARTICLE 4 - Politique de cookies</h3><br>
                    Le site n'utilise actuellement aucuns cookies.
                    <br>Toutefois, il y a dans le site des liens vers d’autres sites gérés par des tiers qui peuvent également utiliser des cookies.<br>
                    Vous pouvez consulter la politique relative aux cookies sur les sites concernés.<br>

                    <br><h3>ARTICLE 5 - Loi applicable et juridiction</h3><br>
                    <p>Les présentes Mentions Légales sont régies par la loi française.<br>
                    En cas de différend et à défaut d’accord amiable, le litige sera<br>
                    porté devant les tribunaux français conformément aux règles<br>
                    de compétence en vigueur.</p><br>

                    <br><h3>Mise à jour:</h3>
                    <p>Le 16/10/2023</p>
                </p>
            </div>          
            
            <nav id="men">
                <div id="menu">
                    <a href="{{ path ('app_home') }}"><img class="lk" src="{{ asset('img/house-solid.svg') }}" alt="Retour à la page d'accueil"><br>Accueil</a>
                </div>
            </nav>
        </header>
    </div>
    <!-- <script>src = "script.js"</script> -->
</body>

<footer>

    <div id="info">

        <div class="pied">

            <figure>
            <a href="https://linktr.ee/SageEtFou"><img src="{{ asset('img/qrCode.png') }}"
                alt="QR Code de Daniel Aaron" class="logQR"></a>
            </figure>

            <div class="reseaux">
            <a href="https://www.facebook.com/daniel.aaron.906638/"><img class="icoFb" src="{{ asset('img/square-facebook.svg') }}" alt="Lien vers le compte Facebook" title="Facebook"></a>
            <a href="https://www.instagram.com/_daniel_aaron_/"><img class="icoIn" src="{{ asset('img/instagram.svg') }}" alt="Lien vers le compte Instagram" title="Instagram"></a>
            <a href="https://www.linkedin.com/in/daniel-aaron"><img class="icoLkd" src="{{ asset('img/linkedin.svg') }}" alt="Lien vers le compte LinkedIn" title="LinkedIn"></a>
            <a href="https://www.tiktok.com/@daniel.aaron67"><img class="icoTk" src="{{ asset('img/tiktok.svg') }}" alt="Lien vers le compte Tiktok" title="TikTok"></a>
            <a href="https://www.youtube.com/@danielaaron125"><img class="icoYt" src="{{ asset('img/youtube.svg') }}" alt="Lien vers le compte Youtube" title="Youtube"></a>
            <a href="https://twitter.com/Danielaaron67"><img class="icoTw" src="{{ asset('img/twitter.svg') }}" alt="Lien vers le compte Twitter" title="Twitter"></a>
            <a href="https://open.spotify.com/user/31b6ue6zwhrygobz7olaor7dm54u"><img class="icoSp" src="{{ asset('img/spotify.svg') }}" alt="Lien vers le compte Spotify" title="Spotify"></a>
            <a href="https://stripe.com/fr"><img class="icoPp" src="{{ asset('img/cc-stripe.svg') }}" alt="Lien vers Stripe" title="Stripe"></a>
            </div>

        </div>

        <div class="acces">
            <a href="{{ path ('app_mentions_legales') }}">Mentions Légales</a>
            <a href="{{ path ('app_conditons_generales_vente') }}">CGV</a>
            <a href="{{ path ('app_newsletters_home') }}">NEWSLETTERS</a>
            <p class="text3">2023 © Fou et Sage - Template by Benjamin LOUIS</p>
        </div>

        <a href="#"><img class="boutonScroll" alt="bouton scroll" src="{{ asset('img/UP.jpg') }}"></a>

    </div>

</footer>


</html
{% endblock %}
