{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="{{ asset('css/file.css') }}">
    
    <link rel="stylesheet" href="{{ path ('app_home') }}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">


    <title>MENU</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <!-- MENU   Dans le header, la nav contient les liens de navigation vers
            les différentes sections de la page et des liens vers les réseaux sociaux -->
            <img class="illustrationB" src="{{ asset('img/logo.jpg') }}" alt="logo de etrefouetsage">
            <nav>
                {% if app.user %}

                    <div id="menu">
                        <a href="{{ path ('app_home') }}"><img class="lk" src="{{ asset('img/house-solid.svg') }}" alt="Retour à la page d'accueil"></a>
                        
                        {# Rediriger les ancres #}
                        <a href="{{ path ('app_home') }}#team">L'AUTEUR</a>
                        {# <a href="{{ path ('app_home', {'_fragment': 'team'}) }}">L'AUTEUR</a> #}
                        <a href="/home#prix">SES LIVRES</a>
                        <a href="https://open.spotify.com/user/31b6ue6zwhrygobz7olaor7dm54u">iii RADIO</a>
                        <a href="{{ path ('app_etik') }}">ETIK BUSINESS CLUB</a>
                        <a href="{{ path ('app_ventes') }}">VENTES AUX ENCHERES</a>
                        <a href="{{ path ('app_newsletters_home') }}">NEWSLETTERS</a>
                        <a href="{{ path ('app_user') }}">MON ESPACE</a>
                        <a href="{{ path ('app_logout') }}">DECONNEXION</a>
                        
                    </div>
                    {% else %}

                        <div id="menu">
                            <a href="{{ path ('app_home') }}"><img class="lk" src="{{ asset('img/house-solid.svg') }}" alt="Retour à la page d'accueil"></a>
                            
                            {# Rediriger les ancres #}
                            <a href="{{ path ('app_home') }}#team">L'AUTEUR</a>
                            {# <a href="{{ path ('app_home', {'_fragment': 'team'}) }}">L'AUTEUR</a> #}
                            <a href="/home#prix">SES LIVRES</a>
                            
                            <a href="https://open.spotify.com/user/31b6ue6zwhrygobz7olaor7dm54u">iii RADIO</a>
                            <a href="{{ path ('app_etik') }}">ETIK BUSINESS CLUB</a>
                            <a href="{{ path ('app_ventes') }}">VENTES AUX ENCHERES</a>
                            <a href="{{ path ('app_register') }}">INSCRIPTION</a>
                            <a href="{{ path ('app_login') }}">CONNEXION</a> 
                        </div>
                {% endif %}

            </nav>
        </header>
    </div>

    <!-- <script>src = "script.js"</script> -->
</body>

</html
{% endblock %}
